Here we have actual data from LEP collider at CERN. In this dataset the collision has produced a Z boson and it has decayed into 2 muons.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dataset91 = pd.read_csv('https://raw.githubusercontent.com/kraikisto/CERN_LEP_Z_boson/main/dimuon_short91_f1_000.csv.gz',index_col=False)
dataset92 = pd.read_csv('https://raw.githubusercontent.com/kraikisto/CERN_LEP_Z_boson/main/dimuon_short92_e2_000.csv.gz',index_col=False)
dataset93 = pd.read_csv('https://raw.githubusercontent.com/kraikisto/CERN_LEP_Z_boson/main/dimuon_short93_d2_000.csv.gz',index_col=False)
dataset94 = pd.read_csv('https://raw.githubusercontent.com/kraikisto/CERN_LEP_Z_boson/main/dimuon_short94_c2_000.csv.gz',index_col=False)
dataset = pd.concat([dataset91, dataset92, dataset93, dataset94]) #combines the datasets

#Remove some faulty data:
dataset = dataset[dataset.PZ1 != '**********'] #removes datapoints where PZ1 is **********
dataset = dataset.astype({'PZ1': 'float64'}) #convert the strings to floats for the upcoming calculations

Here is what the dataset looks like:

In [3]:
dataset.head()

,NRUN,IEVT,ECM,E1,P1,PT1,PX1,PY1,PZ1,Q1,...,P2,PT2,PX2,PY2,PZ2,Q2,PHI2,THETA2,MISSPT,MISSPHI
0,20631,746,91.250,41.847,41.847,41.725,-40.788,8.793,3.192,-1.0,...,33.876,46.693,33.017,-7.097,-2.666,1.0,-0.212,1.650,7.954,-0.215
1,20694,1956,91.286,110.783,110.783,42.253,35.688,-22.621,-102.408,1.0,...,62.660,24.881,17.593,-10.661,-59.187,-1.0,-0.545,2.807,62.821,2.583
2,20704,767,91.280,28.322,28.322,28.305,7.921,-27.174,0.977,-1.0,...,22.503,9.863,-6.974,21.395,-0.104,1.0,1.886,1.575,5.857,1.733
3,20723,1571,91.282,42.509,42.508,42.505,32.779,27.059,0.552,-1.0,...,40.701,44.330,-31.346,-25.960,-0.312,1.0,-2.450,1.578,1.806,-2.487
4,21112,148,91.282,39.894,39.894,39.845,-7.051,-39.216,-1.98,1.0,...,36.151,8.602,6.083,35.568,-2.199,-1.0,1.401,1.632,3.774,1.311

In a decay process like this invariant mass is conserved so you can get the invariant mass of the Z boson from the combined invariant mass of the muons. It can be calculated from the formula:

$$
M = \sqrt{(E_1 + E_2)^2 - (\vec{p}_1 + \vec{p}_2)^2 }
$$

Create a new column for the invariant mass values and plot a histogram of them. From the histogram interpret what the invariant mass of the Z boson from the plot.

The needed functions for this exercise:

- Square root in python is `np.sqrt()`.

- To plot a histogram `plt.hist()`.

- `dataset.PX1` gives us the values from the dataset from the column PX1. It can be done the same way for other columns.

- To add a new column M to the dataset you can write `dataset["M"] = ...`

- To remove values from the dataset write `dataset = dataset[dataset.E1 == 2]`. That example would remove any datapoints where energy E1 is not 2.

The reason you will need to remove values from the dataset is due to measurement errors; occasionally, the value inside the square root may become negative.

In [4]:
#Remove negative values in the square root:


#Add column M with invariant mass values:


#Plot the invariant mass values in a histogram: